*{
    margin:0;
    padding: 0;
}
body {
    background-color: #b7ceba;
    display: flex;
}

#audio {
    display: hide;
}
#fondo{
    position: absolute;
    display: flex;
    background-image: url('/assets/bg.png') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    margin-left: 0;
    #bg {
        width: 100%;
        height: 100%;
        position: absolute;
        img {
            width: 100%;
            height: 100%;
        }
    }
    #principal{
        width: 400px;
        height: 400px;
        left: 50%;
        top: 32%;
        transform: translate(-50%, -50%);
        position: absolute;
        #img-principal{

            img{
                opacity: 0.8;
                width: 400px;
                height: 400px;
            }
    

        }

        #secundario{
            display: flex;
            flex-wrap:wrap;
            position: absolute;
            width: 400px; 
            height: 290px;
            margin-top: -5px;
            background-color: rgba(0, 0, 0, 1);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
         
            

        }
        #name-disc{
            color: gray;
            width: 180px;
            height: 50px;
            padding: 10px;
            font-family: sans-serif;
            h5{
                color: white;
                font-size: 30px;
            }
        }
        #play{
            cursor:pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            width:40px;
            margin-left: 120px;
            
       
            
        
            h1{
                color:white;
                font-family: Georgia, 'Times New Roman', Times, serif;
                &:hover{
                    color: gray;
                }
            }
        }

        #cont1{
            color: white;
            width: 180px;
            height: 20px;
            margin-left: 10px;
            font-family: Arial, Helvetica, sans-serif;
           
        }
        #cont2{
            display: flex;
            color: white;
            justify-content: center;
            width: 100px;
            height: 20px;
            margin-left: 100px;
            font-family: Arial, Helvetica, sans-serif;
        }


    
        #barra{
            
            padding-left: 100px;
            background-color: gray;
            width: 60%;
            height: 3px;
            margin-left: 20px;  
            
            
        }
        

        .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 127px;
            cursor:pointer;
            color: gray;
            &:hover{
                color:white;
            }
            h1{
                font-size: 55px;
            }
            h2 {
                font-size: 25px;
            }
        }

    
    }

}

#mobile-control {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 75%;
    width: 100%;
    #cover-mb {
        position: absolute;
        width: 100%;
        opacity: 0.75;
        height: auto;
        top: 0px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    #content-mb {
        position: absolute;
        display: flex;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0.17944677871148462) 100%);
        bottom: 0px;
        height: 100%;
        width: 100%;
        #info-mb {
            left: 5px;
            position: absolute;
            color: gray;
            width: 180px;
            height: 50px;
            padding: 10px;
            top: 50%;
            font-family: sans-serif;
            h5{
                color: white;
                font-size: 30px;
            }
        }
        #play-mb {
            position: absolute;
            top: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            width:40px;
            right: 20px;
            h1{
                color:white;
                font-family: Georgia, 'Times New Roman', Times, serif;
                &:hover{
                    color: gray;
                }
            }
        }
        #btns-mb{
            position: absolute;
            bottom: 15px;
            height: 35px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            .btn{
                display: flex;
                width: 124px;
                height: 100%;
                bottom: 0;
                align-items: center;
                justify-content: center;
                color: gray;
                h1{
                    font-size: 35px;
                }
                h2 {
                    font-size: 20px;
                }
                &:hover{
                    color:white;
                }
            }
        }
        #time-1 {
            position: absolute;
            bottom: 23%;
            left: 7.5%;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        #time-2 {
            position: absolute;
            bottom: 23%;
            right: 7.5%;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        #bar-mb{
            position: absolute;
            bottom: 20%;
            background-color: gray;
            width: 85%;
            height: 3px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

@media (max-width: 376px){
    #fondo {
        display: none;
    }
    #mobile-control {
        display: flex;
    }
}
